mixin oldParam(params)
    each oneParam in params
        .key-value-form-row(data-index='0')
            .key-value-form-actions
            .auto-suggest-group
                .key-value-form-column(style='flex: 0 0 33%;')
                    span(data-text='true') !{oneParam.name}
                .key-value-form-column(style='flex: 0 0 33%;')
                    if oneParam.type.name === 'FILE'
                        input.key-value-form-input(value=oneParam.default, type='file', placeholder=oneParam.type.name, name=oneParam.name, style='padding: 5px 5%;')
                    else
                        input.key-value-form-input(value=oneParam.default, placeholder=oneParam.type.name, name=oneParam.name)
                .key-value-form-column(style='flex: 0 0 34%;')
                    span(data-text='true') !{oneParam.title}
            .key-value-form-row__delete
                .key-value-form-row__delete__icon
mixin paramsInfo(name_key,params)
    if params && params.type && params.type.valid && params.type.name
        tr
            td !{name_key}
            td !{params.title}
            td !{params.type.name}
            td
                if params.necessarily && params.required
                    | YES
                else
                    | NO
            td !{params.default}
    else
        each paramOne,name in params
            if name_key === ''
                -var name_key_local = name
            else
                -var name_key_local = name_key + '.'+name+'';

            if paramOne && paramOne.type && paramOne.type.valid && paramOne.type.name

                tr
                    td !{name_key_local}
                    td !{paramOne.title}
                    td !{paramOne.type.name}
                    td
                        if paramOne.necessarily && paramOne.required
                            | YES
                        else
                            | NO
                    td !{paramOne.default}
            else
                if Array.isArray(paramOne)
                    +paramsInfo(name_key_local + '[]',paramOne[0])
                else
                    +paramsInfo(name_key_local,paramOne)
mixin shemaParam(name_key,params)
    if params && params.type && params.type.valid && params.type.name
        - var idkeyfield  = String(Math.random()).replace('.','_')+"01_key_"+name_key.replace(/[^\w\d]/g,'_');

        .key-value-form-row(data-index='0', id=idkeyfield)
            .key-value-form-actions
                if name_key.indexOf('[]') !== -1
                    button.uk-button.uk-button-default.uk-button-small(onclick="$(this).parents('.request-body-editors').after($(this).parents('.key-value-form-row').clone(true))", type="button", aria-hidden='true', style='color: #1a4ab0;font-size: 25px;margin-top: -1px;font-weight: 300;padding: 0 13px;height: 30px;line-height: 20px;min-height:  20px;')
                        | +
            .auto-suggest-group
                .key-value-form-column(style='flex: 0 0 33%;')
                    span(data-text='true') !{name_key}
                .key-value-form-column(style='flex: 0 0 33%;')
                    if params.type.name === 'FILE'
                        input.key-value-form-input(value=params.default, type='file', placeholder=params.type.name, name=name_key, style='padding: 5px 5%;')
                    else
                        input.key-value-form-input(value=params.default, placeholder=params.type.name, name=name_key)
                .key-value-form-column(style='flex: 0 0 34%;')
                    span(data-text='true') !{params.title}
            .key-value-form-row__delete
                .key-value-form-row__delete__icon
    else
        each  paramOne,name in params
            if name_key === ''
                - var name_key_local = name
            else
                - var name_key_local  = name_key + '['+name+']';

            - var idkeyfield  = String(Math.random()).replace('.','_')+"_key_"+name_key_local;

            if paramOne && paramOne.type && paramOne.type.valid && paramOne.type.name
                .key-value-form-row(data-index='0', id=idkeyfield)
                    .key-value-form-actions
                        if name_key.indexOf('[]') !== -1
                            button.uk-button.uk-button-default.uk-button-small(onclick="$(this).parents('.request-body-editors').after($(this).parents('.key-value-form-row').clone(true))", type="button", aria-hidden='true', style='color: #1a4ab0;font-size: 25px;margin-top: -1px;font-weight: 300;padding: 0 13px;height: 30px;line-height: 20px;min-height:  20px;')
                                | +
                    .auto-suggest-group
                        .key-value-form-column(style='flex: 0 0 33%;')
                            span(data-text='true') !{name_key_local}
                        .key-value-form-column(style='flex: 0 0 33%;')
                            if paramOne.type.name === 'FILE'
                                input.key-value-form-input(value=paramOne.default, type='file', placeholder=paramOne.type.name, name=name_key_local, style='padding: 5px 5%;')
                            else
                                input.key-value-form-input(value=paramOne.default, placeholder=paramOne.type.name, name=name_key_local)
                        .key-value-form-column(style='flex: 0 0 34%;')
                            span(data-text='true') !{paramOne.title}
                    .key-value-form-row__delete
                        .key-value-form-row__delete__icon
            else
                if Array.isArray(paramOne)
                    +shemaParam(name_key_local + '[]',paramOne[0])
                else
                    +shemaParam(name_key_local,paramOne)


doctype html
// Created by Bogdan Medvedev on 30.01.18.
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title !{config.domain} | Rest-API
        // Uikit CSS
        link(rel='stylesheet', href= '_API/src/css/uikit.min.css')
        link(rel='stylesheet', href='_API/src/css/accordion.min.css')
        // Plugin CSS
        link(rel='stylesheet', href='_API/src/css/jquery.formstyler.css')
        link(rel='stylesheet', href='_API/src/css/jquery.formstyler.theme.css')
        // Template CSS
        link(rel='stylesheet', href='_API/src/css/fonts.css')
        link(rel='stylesheet', href='_API/src/css/template.css')
        link(rel='stylesheet', href='_API/src/css/media.css')
        script(src='https://www.google.com/recaptcha/api.js')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
        .block1
            .uk-container.uk-container-center
                .uk-grid
                    .uk-width-1-2
                        a.logo(href='#')
                            span.main-logo Documentation
                            span.after-logo !{config.project_name}
                            span.version-logo
                    .uk-width-1-2.uk-text-right
                        ul.nav-list
                            li
                                a(href='') Auth
                            li
                                a(href='') Methods
                            li
                                a(href='') Support
                .block-api
                    h1 REST-API interface
                    p Set of ready-made procedures, functions for service !{config.project_name}
                    a.uk-button.uk-button-primary(href='')
                        i.uk-icon-sliders
                        | Get API key
            a.link-bottom(href='')
                i.uk-icon-angle-down
        .block2
            .uk-container.uk-container-center.uk-text-center
                .second-menu
                    ul.list-menu(data-uk-switcher="{connect:'#api-switch', animation: 'slide-horizontal'}")
                        li
                            a(href='')
                                img(src='_API/src/images/icon_menu_01.png', alt='', width='16', height='16')
                                | HTTP/2
                        li
                            a(href='')
                                img(src='_API/src/images/icon_menu_02.png', alt='', width='18', height='17')
                                | WebSocket
                        li
                            a(href='')
                                img(src='_API/src/images/icon_menu_03.png', alt='', width='18', height='17')
                                | About API
                ul#api-switch.uk-switcher.uk-margin-large-top.uk-margin-bottom
                    li
                        h3 HTTP Example:
                        p For authorization, replace _API_KEY_ (coming soon)
                        .block-code
                            .header-code
                                ul.list-dotter
                                    li
                                    li
                                    li
                            .main-code.uk-flex.uk-flex-center.uk-flex-middle
                                p
                                    | !{config.shema + config.domain + config.server_path + config.api_path}
                                    span _METHOD_NAME_
                                    | /
                                .code-type HTTP
                        p
                            | params api_key is you user API key (get in  you account)
                            | all responses have a latency ms parameter that indicates the time the request was processed by the server
                            | _METHOD_NAME_ specify method name
                            br
                            br
                            | Please limit your queries to a maximum of 500 every 1 hour.
                        h3 Export this API for
                        ul.uk-grid.uk-grid-width-1-3(data-uk-grid-margin='')
                            li
                                a.uk-button.uk-button-secondary.button-download.uk-width-1-1(href=config.shema + config.domain + config.server_path + config.api_path + 'export/nodejs',style="background: none;  border: 2px solid #FFF;")
                                    img(src='_API/src/images/icon_api_button_01.png', alt='', width='90', height='45')
                                    span.uk-display-block
                                        i.uk-icon-download
                                        |  Import api to NodeJS
                            li
                                a.uk-button.uk-button-secondary.button-download.uk-width-1-1(href=config.shema + config.domain + config.server_path + config.api_path + 'export/insomnia', style="background: none;  border: 2px solid #FFF;")
                                    img(src='_API/src/images/icon_api_button_02.png', alt='', width='125', height='45')
                                    span.uk-display-block
                                        i.uk-icon-download
                                        |  Import api to Insomnia
                            li
                                a.uk-button.uk-button-secondary.button-download.uk-width-1-1(href=config.shema + config.domain + config.server_path + config.api_path + 'export/postman', style="background: none;  border: 2px solid #FFF;")
                                    img(src='_API/src/images/icon_api_button_03.png', alt='', width='107', height='45')
                                    span.uk-display-block
                                        i.uk-icon-download
                                        |  Import api to Postman
                    li
                        h3 WS server
                        p this protocol dont support (coming soon)
                        .block-code
                            .header-code
                                ul.list-dotter
                                    li
                                    li
                                    li
                            .main-code.uk-flex.uk-flex-center.uk-flex-middle
                                p
                                    | !{config.ws_url}
                                .code-type Connect
                        p
                            | You can get your authorization token from api (
                            b getTokenSocket
                            | ) it will work for 5 minutes or 1 successful connection please ask it before sending auth
                        .block-code
                            .header-code
                                ul.list-dotter
                                    li
                                    li
                                    li
                            .main-code.uk-flex.uk-flex-center.uk-flex-middle
                                p(style='text-transform: none;')
                                    | {"method":"
                                    span auth
                                    | ",token:"
                                    span TOKEN
                                    | "}
                                .code-type ⬆ Send data for auth
                        p Wait response websocket server
                        .block-code
                            .header-code
                                ul.list-dotter
                                    li
                                    li
                                    li
                            .main-code.uk-flex.uk-flex-center.uk-flex-middle
                                p(style='text-transform: none;')
                                    | {"method":"
                                    span auth
                                    | ","data":{"id":
                                    span YOU_USER_ID
                                    | ,"success":true}}
                                .code-type ⬇ Received event auth


                        p Event new message
                        .block-code
                            .header-code
                                ul.list-dotter
                                    li
                                    li
                                    li
                            .main-code.uk-flex.uk-flex-center.uk-flex-middle
                                p(style='text-transform: none;')
                                    | {"method":"
                                    span newMessage
                                    | ","data":{"id":87,"senderId":2,"recipientId":1,"threadId":1,"message":"Message Text","attachedUrl":null,"attachedType":null,"attachedTitle":null,"read":false,"createdAt":"2018-02-23T13:14:41.064Z"}}
                                .code-type ⬇ Received event message
                        hr
                        p ATTENTION the connection to the web socket is restricted, you can create only one active connection all and not more than 1000 connections per hour
                    li
                        h3 What is an API?
                        p
                            | API (Application Programming Interface) is a set of ready-made classes, procedures, functions, structures and constants provided by the service for use in external software products. Used by programmers when writing all kinds of applications.
                            br
                            br
                            | Used in web development, usually a specific set of HTTP requests or WebSocket, as well as the definition of the WebSocket structure, HTTP responses, for the expression of which use JSON formats.

            a.link-bottom(href='')
                i.uk-icon-angle-down
        .block3
            .uk-container.uk-container-center
                ul.list-statistic.uk-grid.uk-grid-collapse.uk-grid-width-1-6(data-uk-grid-margin='')
                    li
                        .list-panel.uk-flex.uk-flex-center.uk-flex-middle
                            div
                                span Uptime
                                span
                                    img(src='_API/src/images/icon_statistic_01.png', alt='', width='20', height='21')
                                    | 99.999%
                    li
                        .list-panel.uk-flex.uk-flex-center.uk-flex-middle
                            div
                                span Received queries
                                span
                                    img(src='_API/src/images/icon_statistic_02.png', alt='', width='19', height='21')
                                    | !{config.countQueries}/min
                    li
                        .list-panel.uk-flex.uk-flex-center.uk-flex-middle
                            div
                                span Methods
                                span
                                    img(src='_API/src/images/icon_statistic_03.png', alt='', width='18', height='19')
                                    | !{methods.all.length}
                    li
                        .list-panel.uk-flex.uk-flex-center.uk-flex-middle
                            div
                                span VCS hash
                                span(style='text-transform: none;')
                                    | # !{config.commitHash}
                    li
                        .list-panel.uk-flex.uk-flex-center.uk-flex-middle
                            div
                                span latency
                                span
                                    img(src='_API/src/images/icon_statistic_05.png', alt='', width='18', height='21')
                                    | !{config.latency_ms}
                                    span.text-small ms
                    li
                        .list-panel.uk-flex.uk-flex-center.uk-flex-middle
                            div
                                span Application
                                span
                                    span.text-small v
                                    | !{config.version}
                p.uk-text-center Statistics for 30 days - the data is updated every minute.
        .block4
            .block4-top
            .uk-container.uk-container-center
                .uk-grid
                    .uk-width-1-2
                        h3 Methods АPI
                    .uk-width-1-2.uk-text-right
                        ul.list-filter-btn
                            li
                                span Access:
                            li
                                button.uk-button.uk-button-primary.active#btn-scan-type-1(onclick='setGroup(1)') All
                            li
                                button.uk-button.uk-button-primary#btn-scan-type-2(onclick='setGroup(2)') Public
                            li
                                button.uk-button.uk-button-primary#btn-scan-type-3(onclick='setGroup(3)') Private
                form.method-block.uk-margin-top.uk-form(onsubmit='scanS();return false;', action='#')
                    .uk-grid.uk-grid-medium
                        .uk-width-2-10
                            select#group-scan.uk-width-1-1
                                option(value='all') All groups

                        .uk-width-8-10
                            .uk-grid.uk-grid-collapse
                                .uk-width-8-10
                                    .uk-form-icon.uk-width-1-1
                                        i.uk-icon-search
                                        input.uk-width-1-1#input-scan(type='text', placeholder='Search by name or description')
                                .uk-width-2-10
                                    button.uk-button.uk-width-1-1.button-form-find#btn-scan(type='button')
                                        | Search
                                        img.uk-margin-left(src='_API/src/images/icon_arrow_enter.png', alt='', width='12', height='8')
                .uk-grid.method-name.uk-margin-top
                    .uk-width-2-10
                        span method
                    .uk-width-6-10
                        span description
                    .uk-width-2-10.uk-text-center
                        span group
                .result-metod-block.uk-margin-top
                    -var i= 0
                    each val, index in methods
                        each val1, index1 in val
                            - i++
                            .uk-accordion(data-uk-accordion='{showfirst: false,collapse: false}', id ="method_API_" + val1.method.split('/').join('-'))
                                h3.uk-accordion-title
                                    .uk-grid
                                        .uk-width-1-5
                                            if val1.method.length >= 35
                                                span(style='text-transform: none;font-size: 10px;')
                                                    i(class=val1.iconClass style='color: #' + val1.iconColor + ';font-size: 14px;position: relative;bottom: 0px;')
                                                    if val1.method.toLowerCase().indexOf('add') !== -1 || val1.method.toLowerCase().indexOf('create') !== -1 || val1.method.toLowerCase().indexOf('insert') !== -1
                                                        i.uk-icon-plus(style='color: #137d2a;font-size: 10px;position: relative;margin-left: -16px;background:  #fff;border-radius: 12px;bottom: -7px;padding: 1px 3px;')
                                                    if val1.method.toLowerCase().indexOf('delete') !== -1 || val1.method.toLowerCase().indexOf('remove') !== -1
                                                        i.uk-icon-trash(style='color: #ea0f0f;font-size: 10px;position: relative;margin-left: -16px;background:  #fff;border-radius: 12px;bottom: -7px;padding: 1px 3px;')
                                                    | !{val1.method}
                                            else if val1.method.length >= 25
                                                span(style='text-transform: none;font-size: 11px;')
                                                    i(class=val1.iconClass style='color: #' + val1.iconColor + ';font-size: 14px;position: relative;')
                                                    if val1.method.toLowerCase().indexOf('add') !== -1 || val1.method.toLowerCase().indexOf('create') !== -1 || val1.method.toLowerCase().indexOf('insert') !== -1
                                                        i.uk-icon-plus(style='color: #137d2a;font-size: 10px;position: relative;margin-left: -16px;background:  #fff;border-radius: 12px;bottom: -7px;padding: 1px 3px;')
                                                    if val1.method.toLowerCase().indexOf('delete') !== -1 || val1.method.toLowerCase().indexOf('remove') !== -1
                                                        i.uk-icon-trash(style='color: #ea0f0f;font-size: 10px;position: relative;margin-left: -16px;background:  #fff;border-radius: 12px;bottom: -7px;padding: 1px 3px;')
                                                    | !{val1.method}
                                            else if val1.method.length >= 20
                                                span(style='text-transform: none;font-size: 12px;')
                                                    i(class=val1.iconClass style='color: #' + val1.iconColor + ';font-size: 18px;position: relative;bottom: -2px;')
                                                    if val1.method.toLowerCase().indexOf('add') !== -1 || val1.method.toLowerCase().indexOf('create') !== -1 || val1.method.toLowerCase().indexOf('insert') !== -1
                                                        i.uk-icon-plus(style='color: #137d2a;font-size: 10px;position: relative;margin-left: -16px;background:  #fff;border-radius: 12px;bottom: -7px;padding: 1px 3px;')
                                                    if val1.method.toLowerCase().indexOf('delete') !== -1 || val1.method.toLowerCase().indexOf('remove') !== -1
                                                        i.uk-icon-trash(style='color: #ea0f0f;font-size: 10px;position: relative;margin-left: -16px;background:  #fff;border-radius: 12px;bottom: -7px;padding: 1px 3px;')
                                                    | !{val1.method}
                                            else
                                                span(style='text-transform: none;font-size: 13px;')
                                                    i(class=val1.iconClass style='color: #' + val1.iconColor + ';font-size: 18px;position: relative;bottom: -2px;')
                                                    if val1.method.toLowerCase().indexOf('add') !== -1 || val1.method.toLowerCase().indexOf('create') !== -1 || val1.method.toLowerCase().indexOf('insert') !== -1
                                                        i.uk-icon-plus(style='color: #137d2a;font-size: 10px;position: relative;margin-left: -16px;background:  #fff;border-radius: 12px;bottom: -7px;padding: 1px 3px;')
                                                    if val1.method.toLowerCase().indexOf('delete') !== -1 || val1.method.toLowerCase().indexOf('remove') !== -1
                                                        i.uk-icon-trash(style='color: #ea0f0f;font-size: 10px;position: relative;margin-left: -16px;background:  #fff;border-radius: 12px;bottom: -7px;padding: 1px 3px;')
                                                    | !{val1.method}
                                        .uk-width-3-5
                                            if val1 && val1.title
                                                span.title !{val1.title}
                                        .uk-width-1-5.uk-text-right
                                            span
                                                .uk-badge.bage-http !{val1.group}
                                .uk-accordion-content(style='background:#fff')
                                    ul.method-switch(data-uk-switcher="{connect:'#method-api-" + val1.method.split('/').join('-') + "', animation: 'uk-animation-fade'}")
                                        li
                                            a(href='') Request info
                                        li
                                            a(href='') Response
                                        li
                                            a(href='') Testing method
                                        li
                                            a(href='') Source code
                                    ul.uk-switcher.uk-clearfix(id ="method-api-" + val1.method.split('/').join('-'))
                                        li
                                            div(style='margin: 5px 90px;')
                                                table(cellspacing='0')
                                                    tr
                                                        th(colspan='2') Information about the method.
                                                    tr
                                                        td Method name:
                                                        td !{val1.method}
                                                    tr
                                                        td Method URL:
                                                        td
                                                            a(href=config.shema + config.domain + config.server_path + config.api_path + val1.method) !{config.shema + config.domain + config.server_path + config.api_path + val1.method}
                                                    tr
                                                        td Access level:
                                                        if val1.level === 0
                                                            td Public API
                                                        else if val1.level === 1
                                                            td Private API (User access)
                                                        else if val1.level == 2
                                                            td Admin API (Admin access)
                                                        else if val1.level == 3
                                                            td Server API (Call Only Server)
                                                    tr
                                                        td Тип:
                                                        td !{index}
                                                    if val1 && val1.description
                                                        tr
                                                            th(colspan='2') Description of the method
                                                        tr
                                                            td(colspan='2') !{val1.description}

                                            br
                                            br
                                            p.title-method POST PARAMETERS
                                            table.uk-table.uk-table-middle.uk-table-hover.uk-table-striped
                                                thead
                                                    tr
                                                        th Name
                                                        th Description
                                                        th Type
                                                        th Required
                                                        th Default value
                                                tbody
                                                    if val1 && val1.param
                                                        if Array.isArray(val1.param)
                                                            each oneParam in val1.param
                                                                tr
                                                                    td !{oneParam.name}
                                                                    td !{oneParam.title}
                                                                    td !{oneParam.type.name}
                                                                    td
                                                                        if oneParam.necessarily && oneParam.required
                                                                            | YES
                                                                        else
                                                                            | NO
                                                                    td !{oneParam.default}
                                                        else
                                                            +paramsInfo('',val1.param)
                                        li
                                            p.title-method Response
                                            table.uk-table.uk-table-middle.uk-table-hover.uk-table-striped
                                                thead
                                                    tr
                                                        th Name
                                                        th Description
                                                        th Type
                                                        th Default value
                                                tbody
                                                    each oneParam in val1.response
                                                        tr
                                                            td !{oneParam.name}
                                                            td !{oneParam.title}
                                                            td !{oneParam.type.name}
                                                            td !{oneParam.default}
                                        li
                                            div(style='margin: -15px;')
                                                if index === 'post' || val1.method !== 'post'
                                                    form(method='post', action=config.shema + config.domain + config.server_path + config.api_path + val1.method, id="frame-result-api-" + val1.method.split('/').join('-'), target="__blank")
                                                        .request-editor-url-container
                                                            .request-editor__main(style='top: initial; width: initial;')
                                                                .request-editor__main__url-group
                                                                    .request-method-editor POST
                                                                    .request-url-editor
                                                                        | !{config.shema + config.domain + config.server_path + config.api_path + val1.method}
                                                                .request-editor__main__button-group
                                                                    .request-editor-send-button
                                                                        .btn-group.btn-group-separated
                                                                            .btn(tabindex='0', onclick='submitMethod("' + "frame-result-api-" + val1.method.split('/').join('-') + '","' + val1.method.split('/').join('-') + '")') Send
                                                        .request-body-editors
                                                            .key-value-form-header-row
                                                                .key-value-form-row.header-row
                                                                    .key-value-form-actions
                                                                        .key-value-form-row__toggle
                                                                        .feedback-state
                                                                    .auto-suggest-group
                                                                        .key-value-form-header-item(style='flex: 0 0 33%;')
                                                                            .header-content Key
                                                                        .key-value-form-header-item(style='flex: 0 0 33%;')
                                                                            .resize-handle(data-index='0', style='touch-action: none;')
                                                                            .header-content Value
                                                                        .key-value-form-header-item(style='flex: 0 0 34%;')
                                                                            .resize-handle(data-index='1', style='touch-action: none;')
                                                                            .header-content.description Description

                                                            if val1 && val1.param
                                                                if Array.isArray(val1.param)
                                                                    +oldParam(val1.param)
                                                                else
                                                                    +shemaParam('',val1.param)

                                                    // code container
                                                    .code-container.uk-margin-top
                                                        .header-container
                                                            .uk-grid
                                                                .uk-width-2-3
                                                                    ul.swithcer-code(data-uk-switcher="{connect:'#code-main-switch" + val1.method.split('/').join('-') + "', animation: 'fade'}")
                                                                        li
                                                                            a(href='') Body
                                                                        li
                                                                            a(href='') Request
                                                                        li
                                                                            a(href='')
                                                                                | Headers
                                                                                span(style='padding:0 5px;', id="testCountHeaders-" + val1.method.split('/').join('-')) (0)
                                                                .uk-width-1-3.uk-text-right
                                                                    ul.list-code-status(style='padding:0 20px;')
                                                                        li
                                                                            | Status:
                                                                            span(id="testStatus-" + val1.method.split('/').join('-')) wait
                                                                        li
                                                                            | Time:
                                                                            span(id="testTime-" + val1.method.split('/').join('-')) 0 ms
                                                        ul.uk-switcher.uk-margin-top(id="code-main-switch" + val1.method.split('/').join('-'), style='padding:0 20px;')
                                                            li
                                                                div(id="testResponse-" + val1.method.split('/').join('-')) Click send.
                                                            li
                                                                div(id="testRequest-" + val1.method.split('/').join('-')) Click send.
                                                            li
                                                                div(id="testHeaders-" + val1.method.split('/').join('-')) Click send.
                                                    // end code container




                                        li
                                            if val1 && val1.param && val1.param.length > 0
                                                p.title-method Source code validate param:

                                                ul.uk-list.uk-list-striped.list-code
                                                    pre(style='background: #091124 !important;    min-height: 30px;\n' +
                                                    '    line-height: 28px;\n' +
                                                    '    font-family: RobotoRegular;\n' +
                                                    '    font-size: 12px;\n' +
                                                    '    color: #07b8ab;\n' +
                                                    '    padding: 0 25px;\n' +
                                                    '    font-style: italic;')
                                                        each oneParam in val1.param
                                                            br
                                                            | /**
                                                            |   @name !{oneParam.name}
                                                            |   @type !{oneParam.type.name}

                                                            if oneParam.type.max
                                                                br
                                                                |   @var max=!{oneParam.type.max}

                                                            if oneParam.type.fixed
                                                                br
                                                                |   @var fixed=!{oneParam.type.fixed}
                                                            if oneParam.type.regexp
                                                                br
                                                                |   @regexp !{oneParam.type.regexp}
                                                            br
                                                            | */
                                                            | !{oneParam.type.valid}
                                                            | // =====================================

                                            p.title-method Source code of the method:
                                            ul.uk-list.uk-list-striped.list-code
                                                pre(style='background: #091124 !important;    min-height: 30px;\n' +
                                                '    line-height: 28px;\n' +
                                                '    font-family: RobotoRegular;\n' +
                                                '    font-size: 12px;\n' +
                                                '    color: #07b8ab;\n' +
                                                '    padding: 0 25px;\n' +
                                                '    font-style: italic;') !{val1.code}
        .footer
            .uk-container.uk-container-center
                .uk-grid.uk-margin-large-top
                    .uk-width-1-2
                        p.uk-margin-top All rights reserved !{config.project_name} © 2015
                    .uk-width-1-2.uk-text-right.uk-margin-top
                        ul.nav-footer
                            li
                                a(href='/') !{config.project_name}

                            li
                                a(href='https://github.com/medve-dev/', target='_blank') Developer @medve_dev

        script(type='text/javascript').
            var docs = !{JSON.stringify(methods.all)}
        // jQuery
        script(src='_API/src/js/jquery-2.2.4.min.js')
        // Uikit JavaScript
        script(src='_API/src/js/uikit.min.js')
        script(src='_API/src/js/accordion.min.js')
        // Plugint JavaScript
        script(src='_API/src/js/jquery.formstyler.min.js')
        // Template Javascript
        script(src='_API/src/js/main.js')
        script(src='_API/src/js/scanmodule.js')
